#Configuration file for the parallel-wsn-daemon
#running on the mesh nodes to control the sensor nodes

[main]
#set the path to the pid-file of the daemon [default /tmp/parallel-wsn-daemon.pid]
pidfile = /tmp/parallel-wsn-daemon.pid

#set the path to the logfile [default is $HOME /parallel-wsn/logs] 
#(dont'use ./ ! - you can use environment variables if you leave a space after it - "$<VAR> /<somedir>")
logpath = $HOME /parallel-wsn/logs

#set the path to the sensor-node [default /dev/ttyUSB0]
sn_path = /dev/ttyUSB0

#set the port for the local TCP-Server to listen on [default 55555]
#and for the client's server to send to [default 55556]
#make sure this is the same as in the parallel-wsn.config config-file
daemon_port = 55555
client_port = 54444

#set if the sensor-node output should be printed on the console too values: yes/no [default yes]
stdout = yes

