#Configuration file for parallel-wsn
#called on uhu to control all sensor nodes at once

[main]
#set the path to the logfiles [default is home-dir/parallel-wsn/logs] (you can use environment variables if you leave a space after it - "$<VAR> /<somedir>")  
logpath = $HOME /testbed/parallel-wsn/logs

#define if individual logfiles or one cumulative logfile for the returned sensor node output should be written; values yes/no [default: no]
individual_logfiles = no

#set the port for the TCP-Server to listen on [default 55555]
#make sure this is the same as in the parallel-wsn-daemon.config config-file
daemon_port = 55555
client_port = 54444

#set the default time in seconds for the client to wait for answers from the sensor node [default: 5]
waiting_time = 3 

#set if the output from the sensor-nodes should be printed on the console too values: yes/no [default yes]
#note: everything will be logged in the above defined log-file either way
stdout = yes

